html, body {
  font-size: 16px;
  height: 100vh;
  font-family: MiddleEarth;
  #root {
    height: 100vh;
    display: flex;
  }
}
body {
  background-image: url(./Media/paper.jpg);
  background-size: cover;
}
.App, .main-wrapper {
  width: 100%;
  height: 100%;
}
.main-wrapper {
  display: flex;
}
.bg {
  background-image: url(./Media/NrgFc4C.jpg);
  background-size: cover;
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  object-fit: cover;
  display: none;
}
h1 {
  font-family: "MiddleEarth"
}

.main {
  max-width: 80rem;
  margin: auto;
  height: 80vh;
  width: 80vw;
  position: relative;
  z-index: 10;
  padding: 1rem;
//   -webkit-box-shadow: 0px 0px 10px 8px white;
// -moz-box-shadow: 0px 0px 10px 8px white;
// box-shadow: 0px 0px 10px 8px white;
// border-radius: 20px;
}

.memory {
  .image-blank {
    cursor: pointer;
    transition: all .4s ease;
  }
  .image-wrapper {
    opacity: 0;
    transition: all .6s ease;
    -webkit-transiton: all .6s ease;
    margin-right: -1rem;
  }
  .active-wrapper {
    opacity: 1;
  }
  .image {
    width: 16.5%;
    height: auto;
    display: inline-block;
  perspective: 1000px;
  padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    transition: all 0.6s ease;
    img {
      width: 100%;
      height: 100%;
    }
    .flip-card-inner {
  position: relative;
  width: 100%;
  padding-bottom: 125%;
  text-align: center;
  transition: all 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  img {
    object-fit: cover;
    object-position: left;
  }
}
.flip-card-back img{

}

.flip-card-front {
  // -webkit-backface-visibility: visible; /* Safari */
  // backface-visibility: visible;
  img {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
  }
  .image-blank:hover .flip-card-inner {
    -webkit-box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.75);
  }
  .image-blank .flip-card-inner {
    transform: rotateY(0);
  }
}
.go-button {
  outline: none;
  box-shadow: none!important;
  margin-top: 16rem;
  position: relative;
  font-size: 1.2rem;
  transiton: all .6s ease;
  border-bottom: 3px dashed transparent;
}
.go-button:hover {
  border-bottom: 3px dashed black;
}
.login {
  opacity: 0;
  transition: all .6s ease;
}

.loaded {
  opacity: 1;
}
.questions {
  .question {
    margin-top: 5rem;
    margin-bottom: 10rem;
    height: 6rem;
  }
  .select-answer {
    position: relative;
  }
  .select-answer::after {
    content: "";

  }
  .answer-content {
    padding: 0.5rem 1rem;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.6s ease all;
    border-radius: 1rem;
  }
  .answer-content:hover {
    background-color: rgba(25,25,25,0.2);
  }
  .false-answer .answer-content{
    background-color: rgba(107,67,70,0.4);
  }
  .right-answer .answer-content{
    background-color: rgba(152,176,135,0.4);
  }
}

.common {
  img {
    width: 18.75rem;
    height: 18.75rem;
    display: inline-block;
  }
  .selected-solution {
    width: 50;
    height: 50px;
  }
  .solution-wrapper {
    text-align: center;
  }
  .selected-solution {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.5rem;
    position: relative;
    span {
      position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          text-align: center;
          line-height: 2rem;
          font-family: arial;
          text-transform: uppercase;
    }
  }
  .letter {
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    margin: 0.5rem;
    background-color: white;
    cursor: pointer;
    transition: all .6s cubic-bezier(0.4, 0, 1, 1);
    display: inline-block;
    padding-top: 2px;
    text-align: center;
    font-family: arial;
    text-transform: uppercase;
    line-height: 1.8rem;
  }
  .letter-box {
    width: 18rem;
    margin: 3rem auto 0;
  }
  .clicked {
    cursor: default;
    opacity: 0.6;
  }
  .retry {
    text-align: center;
    cursor: pointer;
    display: none;
    width: 100%;
    margin-top: 2rem;
  }
  .end-wrapper {
    height: 1rem;
    span {
      display: none;
    }
  }
  .active {
    display: block!important;
  }
}
